<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <h1>Ashley Chung - Fah</h1>
    
    <img src="{{ url_for('static', filename='book.jpg') }}" alt="Book Image" />

    <p>I am a student learning Flask. I am in my third year currently in FST pursuing my degree.
        I enjoy coding and building web applications! This my second semester focusing on coding for wed development and i hope to learn so much
        more to grow as a programmer. Whilst they are challenges ahead, i am so happy to learn.
    </p>
</body>
</html>
